@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800,900');

$primary-color: #fd5c08;
$body-color: #3f3e41;
$base-font-family: 'Raleway',
sans-serif;
$header-font-family: $base-font-family;
$extra-font-family: 'KaushanScript',
sans-serif;


$br-medium: 640px;
$br-large: 1024px;


@import "normalize";
@import "layout";
@import "slick";
@import "elements";

.ba-hide {
	display: none;
}

body {
	font: 400 19px/1.3 $base-font-family;
	color: $body-color;
}

/* Layout */
.ba-container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1210px;
}

.ba-intro {
	padding: 50px 0;
	background: #7f1a36 url(../img/bg1.jpg) 50%;
	background-size: cover;
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);

	@media screen and (min-width: 640px) {
		padding: 400px 0 150px;
	}

	&__body {
		max-width: 670px;
	}
}

.ba-section-title {
	margin: 0 0 10px;
	word-break: break-word;

	&--primary {
		color: $primary-color;
	}
}

.ba-subtitle {
	margin: 0;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 300;

	@media screen and (min-width: 640px) {
		font-size: 38px;
	}
}

//header
.ba-header {
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
}

.ba-header-bar {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ba-main {
	padding-top: 80px;
}

.ba-menu {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;

	a {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		height: 80px;
		min-width: 150px;
		padding: 16px 10px 20px;
		font: 700 13px/1 $base-font-family;
		text-transform: uppercase;
		color: $body-color;
		position: relative;

		svg {
			fill: currentColor;
		}

		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 0;
			border: 30px solid transparent;
			border-top-color: $primary-color;
			border-width: 10px 75px;
			opacity: 0;
			transition: opacity .3s ease-in;

		}

		&:hover,
		&:focus {
			background-color: $primary-color;
			color: #fff;

			&::after {
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width:1023px) {

	.ba-menu {
		display: none;
	}
}

body {
	overflow-y: auto;
	overflow-x: hidden;
}

.ba-offcanvas-content {
	transition: transform 0.3s ease-in;
	transition-delay: 0.1s;
}

.ba-overlay {
	position: fixed;
	z-index: 11;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(black, 0.5);
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: opasity 0.3s ease-in-out, visibility 0.3s ease-in-out;

	@media screen and (min-width: $br-large) {
		visibility: hidden;
		opacity: 0;
	}
}

.ba-mob-nav {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 250px;
	z-index: 2;
	background-color: $primary-color;
	color: #fff;
	z-index: 10;
	transition: transform 0.3s ease-in;
	transform: translateX(-100%);
	transition-delay: 0.1s;

	@media screen and (max-width: $br-large - 1px) {

		&.ba-open {
			transform: translateX(0);
			transition-delay: 0;


			&~.ba-offcanvas-content {
				transform: translateX(250px);
				transition-delay: 0.1s;

				.ba-overlay {
					opacity: 1;
					visibility: visible;
				}
			}

		}
	}

	@media screen and (min-width:$br-large) {
		display: none;
	}
}

.ba-menu-toggle {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	width: 30px;
	height: 24px;
	padding: 0;
	background: none;
	border: none;

	span {
		height: 3px;
		width: 100%;
		background-color: $primary-color;
		border-radius: 5px;
	}

	@media screen and (min-width:$br-large) {
		display: none;
	}
}

.ba-mob-menu {
	margin: 0;
	padding: 0;
	list-style: none;

	a {
		display: block;
		padding: 10px 20px;
		color: #fff;

		svg {
			fill: currentColor;
		}
	}

	li+li {
		border-top: 1px solid rgba(#fff, 0.5);
	}
}

.ba-section {
	padding: 50px 0;
	background-size: cover;
	background-position: 50%;

	@media screen and (min-width: 640px) {
		padding: 124px 0;
	}

	&--cities {
		background: #fff url(../img/bg2.png) 50%;
		background-size: cover;
	}
}

.ba-content-light {
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);


}

.slick-arrow {
	width: 60px;
	height: 60px;
	border: none;
	background-color: $body-color;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&:hover,
	&:focus {
		outline: none;
		background-color: $primary-color;

	}

	&.slick-disabled {
		opacity: 0.5;
		pointer-events: none;
		background: $body-color;
	}
}

.ba-best-slider-prev,
.ba-best-slider-next {

	position: absolute;
	bottom: 80px;
	right: 5vw;
	z-index: 5;

}

.ba-best-slider-prev {
	margin-right: 61px;
}

.ba-section-abs-title {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 20px;
	right: 0;
	text-align: center;
	color: #fff;
}

.ba-best-slider {
	.slick-track {
		display: flex;

		.slick-slide {
			float: none;
			height: auto;
		}
	}

	.slick-dots {
		position: absolute;
		bottom: 30px;
		z-index: 2;
		left: 50%;
		transform: translateX(-50%);
	}
}

.slick-dots {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;

	li {
		padding: 0 4px;
	}

	button {
		font-size: 0;
		width: 20px;
		height: 20px;
		border: 1px solid #fff;
		background: none;
		padding: 0;
		border-radius: 50%;
		display: block;

		&:hover,
		&:focus {
			background-color: #fff;
		}
	}

	.slick-active button {
		background-color: #fff;
	}
}

//Hot Offers

.ba-flex-end {
	justify-content: flex-end;
}

.ba-hot-offer {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 10px;

}

.ba-hot-nav-section {
	background: #ededed;
}

.ba-hot-nav {
	display: flex;
	justify-content: flex-end;
}

.ba-map {
	height: 600px;
}

// Cities-list

.ba-cities-list {
	display: flex;
	flex-wrap: wrap;

	img {
		display: block;
		width: 100%;
	}
}

// .ba-city{
// 	width: 100%;
// 	@media screen and (min-width: $br-medium) {
// 		width: 50%;
// 	}
// 	@media screen and (min-width: $br-large) {
// 		width: 33.33%;
// 	}

.ba-city {
	position: relative;
	overflow: hidden;
	@media screen and (min-width: $br-medium) {
		width: 50%;
	}
	@media screen and (min-width: $br-large) {
		width: 33.33%;
	}

	&__price-wrap {
		position: absolute;
		top: 39px;
		left: 31px;
		right: 0;
		color: #fff;
		text-transform: uppercase;
		font: 300 16px/1 $base-font-family;
		z-index: 1;
		transition: transform 0.8s ease-out;
	}

	&__price {
		display: block;
		font-size: 42px;
		font-weight: 800;

		&::first-letter{
			color: $primary-color;
			display: inline-block;
			position: relative;
			font-size: 80%;
			margin-top: 14px;
		}
	}

	&__desc{
		position: absolute;
		left:0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background: rgba(#fff, 0.9);
		padding: 28px;
		transition: transform 0.3s ease-in;
		&::before{
			content: '';
			position: absolute;
			bottom: 100%;
			left: 38px;
			border: 10px solid transparent;
			border-width: 0 15px  10px 15px;
			border-color: transparent transparent rgba(#fff, 0.9) transparent;
		}
		@media screen and (min-width:$br-large){
			transform: translateY(calc(100% + 20px));

		}
	}

	&__country{
		text-transform: uppercase;
		font-size: 23px;
		margin-bottom: 4px;
	}

	&__title{
		font-size: 24px;
		color: $body-color;
		margin-bottom: 30px;
		max-height: 90px;
		overflow: hidden;
		@media screen and (min-width:1024px){
			font-size: 34px;
		}
	}

	&__more{
		font-size: 14px;
		text-transform: uppercase;
		color: $body-color;
	}


}


.ba-city:hover{
	.ba-city__price-wrap{
		transform: translateX(-100%);
	}
	.ba-city__desc{
		transform: translateY(0);
	}
}


// }

.ba-mb {
	margin-bottom: 40px;

	@media screen and (min-width: $br-large) {
		margin-bottom: 100px;
	}
}

.ba-mb-large-up {
	@media screen and (max-width: ($br-large - 1px)) {
		margin-bottom: 30px;
	}
}